.container{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500px;
    text-align: center;
    
}

.active{
    background-color: var(--text);
    color: var(--bg) !important;
}

