.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.top{
    display: flex;
    width: 90%;
    height: 400px;
}
.imgContainer{
    width: 90%;
    height: 400px;
    position: relative;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.date{
    font-size: small;
    transform: rotate(270deg);
    margin: auto;
}

.title{
    font-size: 24px;
    margin-bottom: 20px;
    width: 90%;
}
.desc{
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
    width: 90%;
    text-justify: justify;

}

.link{
    text-decoration: underline;
}