.container{
    display: flex;
    gap: 100px
}

.imgContainer{
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.img{
    object-fit: cover;
}
.textContainer{
    flex: 2;
    flex-direction: column;
    gap: 50px;
}

.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 64px;
   margin-bottom: 20px;
}

.detail{
    display: flex;    
    gap: 20px;
}

.detailTitle{
    color: gray;
    font-weight: bold;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}
.content{
    font-size: 20px;
    margin-top: 50px;
}

@media (max-width: 768px){
    .imgContainer{
     display: none;
    }
}